<div class="row">
    <div id="app-task-manager">
        <div class="row">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" v-bind:style="{ width: completePercent+'%' }">
                    <span v-show="completePercent>0">{{completePercent}}%</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Created On
                        </th>
                        <th>
                            Days remain
                        </th>
                    </tr>
                    <tr is="task-row" v-for="curTask in tasks" :task="curTask"></tr>
                </table>
            </div>
        </div>
    </div>
</div>

<template id="task-row-template">
    <tr>
        <td>
            <input type="checkbox" v-model="isChecked">
        </td>
        <td>{{title}}</td>
        <td>{{createdOn}}</td>
        <td>{{daysRemain}}</td>
    </tr>
</template>
