.bg-base {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}
.user-msg-wrapper {
  position: absolute;
  width: 30%;
  right: 35%;
  left: 35%;
  bottom: 15%;
  border: 3px solid gray;
  padding: 10px;
}
